h1 {
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
h2 {
    text-align:center;
}
th {
    font-size: 25px;
    text-align: center;
} 
#table1 {text-align:center;
        border: 0; 
        padding: 20;
}
#table2 {text-align:center;
        border: 0; 
        padding: 20;
}
/* style="border: 0; text-align: center; padding: 20; */
footer {
    text-align:center;
}
/* div { background-color:lightgoldenrodyellow;
} */
footer {
    position:relative 
}
a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
a:link {
    color: Green;
  }
a:visited {
    color: Red;
  }
a:hover {
    text-decoration: none;
    color: #00c;
    font-family: cursive;
    font-weight: bold;
  }
  a:active {
    font-weight: bold;
  }