h1 {
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
th {
    font-size: 25px;
} 
footer {
    text-align:center;
}
div { background-color:lightgoldenrodyellow;
}
footer {
    position: relative 
}
a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
a:link {
    color: Green;
  }
a:visited {
    color: Red;
  }
a:hover {
    text-decoration: none;
    color: #00c;
    font-family: cursive;
    font-weight: bold;
  }
  a:active {
    font-weight: bold;
  }
  